<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Falkone_ServerInfo::PhpInfo" title="Server Info" sortOrder="10">
					<resource id="Falkone_ServerInfo::PhpInfo_view" title="View PHP Info" sortOrder="40"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
